<p>Ask your coach anything:</p>

<form action="answer" data-turbo="false">
  <div class="input-group mb-3 w-50">
    <input type="text" name="question" class="form-control" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </div>
</form>
